.camera-list-page {
    height: 100%;
    overflow: auto;
	.item {
		background-color: rgb(246, 246, 246);
		padding: 16px;
		border-radius: 16px;
		cursor: pointer;
		.img {
			height: 100%;
			width: 100%;
			aspect-ratio: 4 / 3;
		}
	}
}
